body{
  background-color: blanchedalmond;
}
.border{
  width: 35%;
  height: 400px;
  border: 1px solid;
  position: absolute;
  border-radius: 25px;
}
p{
  padding: 0 100px;
  text-align: center;
  font-family: system-ui;
  margin-top: 30px;
}
.wrapper{
  display: flex;
  flex-direction: column;
  direction: rtl;
}
#laptop {
  position: relative;
  width: 559px;
  height: 401px;
  background-image: url(laptop.png);
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  transform: translateX(-10%);
}
#phone{
  position: relative;
  width: 205px;
  height: 401px;
  background-image: url(15.png);
  background-size: cover;
  margin-bottom: 20px;
  display: flex;
  transform: translateX(-42%);
}
.stickers{
  display: flex;
  flex-flow: wrap;
}
.sticker {
  z-index: 234;
  width: 100px; /* Adjust as necessary */
  height: 100px; /* Adjust as necessary */
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  transition: background-color 0.3s;
  cursor: grab;
  touch-action: none;
  user-select: none;
}
.dropzone {
  /* Style as needed */
}
.drag-drop {
  touch-action: none;
  user-select: none;
}
.can-drop {
  /* background-color: #e1ff8e; Style for can drop */
}
.dropped {
  /* background-color: #ffffff; Style for dropped */
}